<a href="https://colab.research.google.com/github/upjun11/r/blob/main/20230309_R%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%20%EA%B3%BC%EC%A0%9C_%EA%B9%80%EC%98%81%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
ID <-c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
SEX <-c("F", "M", "F", "M", "M", "F", "F", "F", "M", "F")
AGE <-c(50, 40, 28, 50, 27, 23, 56, 47, 20, 38)
AREA <-c("서울", "경기", "제주", "서울", "서울","서울",  "경기", "서울", "인천", "경기")
dataframe_ex <- data.frame(ID, SEX, AGE, AREA)
dataframe_ex

   ID SEX AGE AREA
1   1 F   50  서울
2   2 M   40  경기
3   3 F   28  제주
4   4 M   50  서울
5   5 M   27  서울
6   6 F   23  서울
7   7 F   56  경기
8   8 F   47  서울
9   9 M   20  인천
10 10 F   38  경기

In [2]:
frute<-c("apple", "banana", "banana", "apple", "apple")
frute<-factor(frute, labels = c("apple", "banana", "banana", "apple", "apple")

ERROR: ignored

조건문 / 반복문

In [4]:
x<- 1: 10
y<- 10: 1

In [ ]:
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
print(y)

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
1y

In [ ]:
a<-10
if(a %% 2== 0) {
  print("짝수")} else{
    print("홀수")
    }

[1] "짝수"

<3월 9일 과제> -김영준-

In [ ]:
##1번 세 수 중 가장 큰 수 출력
a<-3
b<-9
c<-1
if(a>=b){
  if(a>=c){
    print(a)
  }else{print(c)}
}else{
  if(b>=c){
    print(b)
  }else{print(c)}
}

반복문

In [ ]:
##2번 내림차순출력
for(i in 1:100){
  print(i)
}

In [6]:
##3번 윤년검색기
year <- 2004

if((year%%4 == 0 & year%%100 != 0 | year%%400 == 0)){
  print("윤년입니다")
}else{print("윤년이 아닙니다")}

[1] "윤년입니다"

In [ ]:
##4번 구구단 출력
for(i in 1:9){
  a<-2
  result<-a*i
  print(result)
}

In [8]:
##5번 1~100 합구하기
sum<-0
for( i in 1:100){
  sum <- sum +i
}
print(sum)

[1] 5050

In [9]:
##6번 1~5까지 순차곱 구하기
a <- 5
sum <- 1
for(i in 1:a){
  sum <- sum*i 
}
sum

[1] 120

In [ ]:
##7번 1~100까지 짝수/홀수 출력
for(i in 1:100){
  if(i%%2 == 0){print("짝수입니다")
  }else{print("홀수입니다")}
}

In [ ]:
##8번 1~100 5의배수 출력
for(i in 1:100){
  if(i%%5 == 0){print("5의 배수")
  }else{print("5의 배수가 아님")}
}

In [15]:
##9번 1~100 2와3의 공배수

In [16]:
##10번 1~100 평균구하기 
sum <- 0
for(i in 1:100){
  sum <- sum + i
}
print(sum/100)

[1] 50.5