<a href="https://colab.research.google.com/github/upjun11/r/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ID <-c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
SEX <-c("F", "M", "F", "M", "M", "F", "F", "F", "M", "F")
AGE <-c(50, 40, 28, 50, 27, 23, 56, 47, 20, 38)
AREA <-c("서울", "경기", "제주", "서울", "서울","서울",  "경기", "서울", "인천", "경기")
dataframe_ex <- data.frame(ID, SEX, AGE, AREA)
dataframe_ex

   ID SEX AGE AREA
1   1 F   50  서울
2   2 M   40  경기
3   3 F   28  제주
4   4 M   50  서울
5   5 M   27  서울
6   6 F   23  서울
7   7 F   56  경기
8   8 F   47  서울
9   9 M   20  인천
10 10 F   38  경기

In [ ]:
frute<-c("apple", "banana", "banana", "apple", "apple")
frute<-factor(frute, labels = c("apple", "banana", "banana", "apple", "apple")

ERROR: ignored

조건문 / 반복문

In [ ]:
x<- 1: 10
y<- 10: 1

In [ ]:
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
print(y)

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
1y

In [ ]:
a<-10
if(a %% 2== 0) {
  print("짝수")} else{
    print("홀수")
    }

[1] "짝수"

<3월 9일 과제> -김영준-

In [ ]:
##1번 세 수 중 가장 큰 수 출력
a<-3
b<-9
c<-1
if(a>=b){
  if(a>=c){
    print(a)
  }else{print(c)}
}else{
  if(b>=c){
    print(b)
  }else{print(c)}
}

[1] 9

반복문

In [ ]:
for(i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [ ]:
##4번 구구단 출력
for(i in 1:9){
  a<-2
  result<-a*i
  print(result)
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12
[1] 14
[1] 16
[1] 18

In [ ]:
sum<-0
for( i in 1:100){
  sum <- sum +i
  print(sum)
}

[1] 1
[1] 3
[1] 6
[1] 10
[1] 15
[1] 21
[1] 28
[1] 36
[1] 45
[1] 55
[1] 66
[1] 78
[1] 91
[1] 105
[1] 120
[1] 136
[1] 153
[1] 171
[1] 190
[1] 210
[1] 231
[1] 253
[1] 276
[1] 300
[1] 325
[1] 351
[1] 378
[1] 406
[1] 435
[1] 465
[1] 496
[1] 528
[1] 561
[1] 595
[1] 630
[1] 666
[1] 703
[1] 741
[1] 780
[1] 820
[1] 861
[1] 903
[1] 946
[1] 990
[1] 1035
[1] 1081
[1] 1128
[1] 1176
[1] 1225
[1] 1275
[1] 1326
[1] 1378
[1] 1431
[1] 1485
[1] 1540
[1] 1596
[1] 1653
[1] 1711
[1] 1770
[1] 1830
[1] 1891
[1] 1953
[1] 2016
[1] 2080
[1] 2145
[1] 2211
[1] 2278
[1] 2346
[1] 2415
[1] 2485
[1] 2556
[1] 2628
[1] 2701
[1] 2775
[1] 2850
[1] 2926
[1] 3003
[1] 3081
[1] 3160
[1] 3240
[1] 3321
[1] 3403
[1] 3486
[1] 3570
[1] 3655
[1] 3741
[1] 3828
[1] 3916
[1] 4005
[1] 4095
[1] 4186
[1] 4278
[1] 4371
[1] 4465
[1] 4560
[1] 4656
[1] 4753
[1] 4851
[1] 4950
[1] 5050