<a href="https://colab.research.google.com/github/upjun11/r/blob/main/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5(%ED%8C%8C%EC%9D%B4%EC%8D%AC)_230313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2023-3-13 기계학습**

In [ ]:
a=3
b=5.7

type(a)

int

In [ ]:
x = (input())

x
#x에 숫자를 입력하더라도 문자형으로 받는다.

10

'10'

In [ ]:
x = int(input())
y = int(input())

print("{} + {} = {}\n" .format(x,y,x+y)) #.format 형식
print(x, "+", y, '=', x+y) #이어붙이기 형식
print("%d + %d = %d"%(x,y,x+y)) #%출력방식[%d = 정수 , %f = 실수 , %s = 문자]

10
35
10 + 35 = 45

10 + 35 = 45
10 + 35 = 45

# **인덱싱**

In [ ]:
Str = "Hello pyton"
Str[4] #문자열의 5번째 글자만 출력

'o'

In [ ]:
Str[-1:-3:-1]
#가장 뒤의 글자부터 뒤에서 세번째 글자까지 역순으로 표현

Str[0:3] #세칸씩 띄어표현

'Hel'

집합의 종류
-리스트 = [ ]안에 표현 유동적 
-튜플 = () 안에표현, 고정적
-딕셔너리(사전) = {key:data}형식으로 구성
하나 키는 여러데이터를 표현할수있다.

In [ ]:
dic = {"name": "youngjun", "Age": [22,25,11,15]}
dic["Age"]

[22, 25, 11, 15]

In [ ]:
dic.keys() #정보를 불러오는열쇠
dic.values() #열쇠에 이어진값
dic.items() #딕셔너리에 있는 모든 열쇠의 값

dict_items([('name', 'youngjun'), ('Age', [22, 25, 11, 15])])

제어문 / 반복문 / 함수만들기

In [ ]:
#산술연산자

In [ ]:
x=3
y=7
z=11

In [ ]:
print(z/x)
round(z/x,4)

3.6666666666666665

3.6667

In [ ]:
#논리연산자
출력하는 값이 항상 논리형(True, False 중하나)
== 같은가? ->  결과에 따라 T,F 을 출력
!= 다른가?
<,<= 앞의 값이 뒤에 값보다 작은가? 작거나 같은가?

In [ ]:
b = (10 == 5)
b

False

조건문
- 조건에 만족할 경우 들여쓰기 안에 문장을 실행
> if(조건) : 

- 여러개의 조건을 확인해야 할 때는 elif 와 else 사용
> 구성 = if + elif(여러개 가능) + else(필수X)

In [ ]:
num = int(input())

if(num > 10): 
 print('{}는 10보다 크다\n'.format(num))
elif(num < 10):
   print("{}는 10보다 작다\n".format(num))
else:
   print("{}는 10이다\n".format(num))

7
7는 10보다 작다

In [ ]:
num = int(input())
if num % 2== 0: 
   print("짝수")
else: 
 print("홀수")

125
홀수

과제

* 홀짝수구분
*   학점출력
*   로그인기능
*  태어난해의띠 출력
* 윤년검색

In [2]:
##홀짝수구분
num = int(input())
if num % 2== 0: 
   print("짝수이다")
else: 
 print("홀수이다")

57
홀수이다

In [6]:
##학점출력
num=int(input())
if(num>=90):
  print("{}점 A 입니다".format(num))
elif(num>=90
     ):
  print("{}점 B 입니다".format(num))
elif(num>=80):
  print("{}점 C 입니다".format(num))
elif(num>=70):
  print("{}점 D 입니다".format(num))
elif(num>=60):
  print("{}점 E 입니다".format(num)) 
else:
  print("{}점 F 입니다".format(num))

87
87점 C 입니다

In [10]:
##로그인기능
Id_check = "upjun11"
Password_check = 12345

Id = input()
if Id == Id_check:
  print("아이디 확인완료")
  password = int(input())
  if(password == Password_check):
    print("비밀번호 확인완료\n")
    print("로그인 되었습니다\n")
  else:
    print("비밀번호  비동일\n")
    print("로그인 실패\n")
    
else:
  print("아이디 비동일\n")
  print("로그인 실패\n")

upjun11
아이디 확인완료
12345
비밀번호 확인완료

로그인 되었습니다

In [11]:
##태어난해의띠출력
birth = int(input())
animal = {0:"원숭이",1:"닭",2:"개",3:"돼지",
               4:"쥐",5:"소",6:"범",7:"토끼",8:"용",
               9:"뱀",10:"말",11:"양"}

print("{}년생은 {}띠입니다".format(birth,animal[birth%12]))

1995
1995년생은 돼지띠입니다

In [13]:
##윤년검색
year = int(input())

if(year%4 == 0 and year%100 != 0 or year%400 == 0):
  print("윤년입니다")
else:
  print("윤년이 아닙니다")

2000
윤년입니다